.auth-container {

    .activate {
        width: 500px;
        box-shadow: var(--messenger-box-shadow);
        height: auto;
        overflow: hidden;
        padding: 20px 10px;
    }

    .resentOTP{
        margin-top: 10px;
    }
    .resentActivationLink {
        margin-top: 10px;
    }
}